/* Général */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container
{
    display: flex;
    flex-direction: column;
}

img {
    width: 100%;
    height: auto;
}

/* header */

header {
    text-align: center;
    background-color: brown;
    margin-bottom: 15px;
}

header h1 {
    text-decoration: none;
}

header h1 {
    font-size: 3em;
    color: white;
}

/* body */

article {
    margin: 10px 0 10px 0;
}

.nom_produit {
    margin-bottom: 30px;
}

/* footer */

footer {
    text-align: center;
    background-color: burlywood;
    margin-top: 15px;
}

footer p {
    font-size: 1.5em;
}