/* Général */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container
{
    display: flex;
    flex-direction: column;
}

img {
    width: 100%;
    height: auto;
}

/* header */

.header_page {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #504D4D;
    margin-bottom: 15px;
    position: relative;
}

.header_page h1 {
    font-size: 4em;
    color: white;
}

.lien_panier {
    font-size: 1.3em;
    color: white;
    text-decoration: none;
    position: absolute;
    top: 26px;
    right: 20px;
}

/* body */

article {
    margin: 10px 0 10px 0;
}

a *{
    text-decoration: none;
    display: inline-block;
}

.nom_produit {
    margin-bottom: 30px;
}

.article_panier img {
    min-width: 150px;
}

#btnAjoutPanier {
    margin-bottom: 50px;
}

.total {
    margin-bottom: 50px;
}

.form_commande {
    margin-bottom: 50px;
}

.commande_valider {
    color: green;
    margin-bottom: 50px;
}

#confirmation_prix {
    margin-bottom: 50px;
}

#confirmation_id {
    margin-bottom: 100px;
}

.infos_confirmation {
    color: blue;
}

/* footer */

footer {
    padding: 10px 0;
    text-align: center;
    background-color: #504D4D;
    margin-top: 15px;
}

footer p {
    color: white;
    font-size: 1.5em;
    margin-bottom: 0px;
}


/* Création des règles pour un site responsive */

@media all and (max-width: 576px) {
    .header_page_panier {
        height: 150px;
    }

    .lien_panier {
        position: absolute;
        top: 100px;
        right: 42%;
    }

    .article_panier img {
        display: none;
    }

    .article_panier p {
        font-size: 1.15em;
    }
}